.banner {
    display: flex;
    justify-content: space-between;
    background-color: white;
    position: relative;
    background-size: cover;
    background-position: center;
    top: 0;
    left: 0;
  }
  .banner > div {
    padding-top: 150px;
    width: 50%;
    padding-left: 65px;
    position: relative;
  }

  .banner > div h1 {
    letter-spacing: -0.05em;
    line-height: 110px;
    font-size: 130px;
    font-family: 'Times New Roman', Times, serif;
    padding-bottom: 40px;
    color: white;
    font-weight: 500;
  }
  .banner > div p {
    font-family: sohne, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 500;
    line-height: 30px;
    font-size: 40px;
    padding-bottom: 30px;
    margin-right: 75px;
    color : white
  }
  .custom-button {
    background-color: black;
    color: white;
    font-weight: bold;
    padding: 10px 20px;
    margin: auto 0;
    margin-bottom: 50px;
  }
  .custom-button:hover {
    background-color: white;
    color: black;
    border: 2px solid black;
  }


  