/* Lề cho thanh điều hướng */
.navbar {
    padding: 20px 50px;
  }
  
  /* Định dạng cho các nút trên thanh điều hướng */
  .nav-link {
    font-weight: bold;
    font-size: 1em;
    transition: color 0.3s ease-in-out;
  }
  
  /* Hiệu ứng khi di chuột qua các nút */
  .nav-link:hover {
    color: lightblue;
  }
  
  /* Định dạng cho nút Sign in */
  .btn-dark {
    width: 120px;
    border-radius: 5px;
  }