.sidebar {
    display: flex;
    justify-content: space-between;
}

.cardblog-section {
    flex: 7;
}

.authorinfo-section {
    flex: 3;
    border-left: 1px solid #000;/* Adjust width as needed */
}