
.fond {
    margin-top: 120px;
}


.thumbnail {
    float: left;
    position: relative;
    left: 30px;
    top: -30px;
    height: 320px;
    width: 480px;
    box-shadow: 10px 10px 60px 0px rgba(0, 0, 0, 0.75);
    overflow: hidden;
}

img.left {
    position: absolute;
    left: 50%;
    top: 50%;
    height: auto;
    width: 100%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.rightcontent {
    margin-left: 590px;
    margin-right: 20px;
    margin-top: -90px;
    margin-bottom: 20px;
}

h1 {
    padding-top: 15px;
    padding-bottom: 10px;
    font-size: 1.5rem;
    color: #4B4B4B;
}

.author {
    background-color: #9ECAFF;
    height: 50px;
    width: 150px;
    border-radius: 20px;
}

.author > img {
    padding-top: 6px;
    margin-left: 8px;
    float: left;
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

h2 {
    padding-top: 8px;
    margin-right: 10px;
    text-align: right;
    font-size: 16px;
    border-bottom: none;
}

p {
    text-align: justify;
    padding-top: 10px;
    font-size: 0.95rem;
    line-height: 150%;
    color: #4B4B4B;
}

.fab {
    position: absolute;
    right: 50px;
    bottom: -40px;
    box-sizing: border-box;
    background-color: #1875D0;
    width: 80px;
    height: 80px;
    color: white;
    text-align: center;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button__loadmore {
    width : 50px;
    height: 50px;
    margin-top: -60px;
    margin-left: 900px;
    border-radius:50px;
    font-size: 1rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.5;
    transition: width 1s, height 1s, opacity 0.5s; 
}

.button__loadmore:hover {
    opacity: 1;
    width: 80px;
    height: 80px;
}


