.notification-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin-top: 30px;
    border-right: 2px solid rgb(126, 125, 125);
}

.notification-right {
    
}